images/
manga_files/
rot_curve_data_files/
TEST/
updated_vflag_data_files/
.ipynb_checkpoints/
bad_manga_files/
astropy_tutorial_jupyter_notebooks/
__pycache__/
*.fits
*.txt
/GradientSmoothness-1.0.0/build/lib.macosx-11.0-arm64-cpython-312/GradientSmoothness
*.o
*.egg
/GradientSmoothness-1.0.0/GradientSmoothness.egg-info
*.c
*.so

